<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>

</head>
<body>

<div id="munny" style="width: 50vw">

kjhkjbhkj

</div>

<!--<h1 class="text-center">Chat App</h1>

<input type="text" id="demo1"></input>
<input type="text" id="demo2"></input>

<div class="container" id="login-container">
    <div class="row">
        <input id="username" class="col form-control">
        <button id="login" class="btn btn-info col">LOGIN</button>
    </div>
</div>

<div class="container" id="chat-container">
    <div class="row">
        <input id="message" class="col form-control">
        <button id="send" class="btn btn-info col">SEND</button>
    </div>

    <div class="row">
        <div class="col">
            <ul id="list"></ul>
        </div>
    </div>
</div>-->


</body>
</html>